{% load static %}
    <footer class="rodape">
        <div class="rodape-container gap">
            <div class="rodape-container-frame row">
                <div class="gap">
                    <h5 class="rodape-container-titulo">Baixe Nosso App</h5>
                    <div class="gap row">
                        <img class="rodape-loja" src="{% static 'images/app-apple.svg' %}" alt="obtenha app-apple">
                        <img class="rodape-loja google" src="{% static 'images/app-google.png' %}" alt="obtenha app-google">
                    </div>

                </div>
                <div class="gap">
                    <h5 class="rodape-container-titulo">Siga-nos nas redes</h5>
                    <div class="gap row">
                        <img src="https://img.icons8.com/fluency/48/000000/youtube-play.png"/>
                        <img src="https://img.icons8.com/fluency/48/000000/facebook.png"/>
                        <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
                    </div>
                </div>
                <div class="gap">
                    <h5 class="rodape-container-titulo">Precisa de Ajuda?</h5>
                    <a  class="rodape-container-atendimento" href="#">Atendimento</a>
                </div>

            </div>
            <div class="rodape-container-frame row" >
                <div class="rodape-container-frame gap">
                    <h5 class="rodape-container-titulo">Menu</h5>
                    <a class="rodape-container-link" href="#">Filmes</a>
                    <a class="rodape-container-link" href="#">Cinemas</a>
                    <a class="rodape-container-link" href="#">Eventos</a>
                </div>
                <div class="rodape-container-frame gap">
                    <h5 class="rodape-container-titulo">Institucional</h5>
                    <a class="rodape-container-link" href="#">Quem Somos</a>
                    <a class="rodape-container-link" href="#">Assessoria de imprensa</a>
                    <a class="rodape-container-link" href="#">bootstrap ingresso.com</a>
                    <a class="rodape-container-link" href="#">vale-presente Corporativo</a>
                    <a class="rodape-container-link" href="#">ingresso.com atende</a>
                    <a class="rodape-container-link" href="#">movieId.com</a>
                    <a class="rodape-container-link" href="#">faça parte do time</a>
                </div>
                <div class="rodape-container-frame gap">
                    <h5 class="rodape-container-titulo">Políticas</h5>
                    <a class="rodape-container-link" href="#">Prevenções</a>
                    <a class="rodape-container-link" href="#">Privacidade e Segurança</a>
                    <a class="rodape-container-link" href="#">Política de Cookies</a>
                    <a class="rodape-container-link" href="#">Meia-entrada</a>
                    <a class="rodape-container-link" href="#">Trocas e Cancelamentos</a>
                    <a class="rodape-container-link" href="#">Leis Estaduais e Municipais</a>
                    <a class="rodape-container-link" href="#">Termos de Uso</a>
                </div>
                <div class="rodape-container-frame gap">
                    <h5 class="rodape-container-titulo">Dúvidas</h5>
                    <a class="rodape-container-link" href="#">Atendimento</a>
                    <a class="rodape-container-link" href="#">Site ou e-mails falsos</a>
                    <a class="rodape-container-link" href="#">Procon-RJ</a>
                </div>
            </div>
        </div>
    </footer>
