{% load static %}
    <header class="cabecalho">
        <div class="top">
            <div class="left">
                <a href="{% url 'index' %}">
                    <img class="logo" src="{% static 'icons/logo.svg' %}" alt="logo ingresso" class="image">
                </a>
            </div>
            
            <div class="info">
                <div><input type="search" class="info-busca" placeholder="O que deseja buscar?"></div>
                <div><a href="#"><h3 class="info-links city">localização</h3></a></div>
                <div><a href="#"><h3 class="info-links login">Cadastro</h3></a></div>
                <div><a href="#"><h3 class="info-links support">Atendimento</h3></a></div>
            </div>
    
        </div>

        <div class="bottom">
            <nav>          
             <ul id="menu">
                 <li><a class="menu-link" href="{% url 'filmes' %}">FILMES</a></li>
                 <li><a class="menu-link" href="{% url 'cinemas' %}">CINEMAS</a></li>
                <li><a class="menu-link" href="#">NOTÍCIAS</a></li>
                <li><a class="menu-link" href="#">PREVENÇÕES</a></li>
                <li><a class="menu-link" href="#">FANSHOP</a></li>
                <li><a class="menu-link" href="#">ROCK IN RIO</a></li>
            </ul>
            </nav>
        </div>
    </header>
