@charset "UTF-8";
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

body {
    background-color: #333
}

.cabecalho{
    position: fixed;
    width: 100%;
    z-index: 10;
}


.top{
    display: flex;
    background-color: #000000;
    opacity: 0.8;
    height: 60px;
    justify-content: space-between;
}
.info{
    display: flex;
    gap: 1rem;
    align-items: baseline;
    padding-right: 20px;
    padding-top: 7px;
}

.info-busca {
    background: url('../icons/search.svg') no-repeat center right;
    color: #eee;
    border: none;
    padding: 5px;
    width: 22px;
    transition: all 1s;
}

.info-busca:focus {
    width: 200px;
    outline: none;
    border-bottom: solid 1px #ddd;
}

.info-links {
    color: #eee;
    font-weight: 400;
    font-size: 0.8rem;
}

.info-links::before {
    z-index: 100;
    top: 6px;
    right: 3px;
    position: relative;
}

.city::before {
    content: url('../icons/city.svg');
}

.login::before {
    content: url('../icons/profile.svg')
}

.support::before {
    content: url('../icons/faq.svg');
}

.titulo{
    font-size: 2.0rem;
    font-style: normal;
    text-decoration: none;
    color: #4292e9;
    
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
}



.bottom{
    display: flex;
    background-color: #000000;
    opacity: 0.7;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
}

#menu{
    display: flex;
    gap: 2.5rem;
    list-style: none;
    padding-right: 20px;
}

.menu-link {
    font-weight: bold;
    color: rgb(0, 153, 255);

}

.menu-link:hover{
    color: rgb(1, 132, 219);
}

.section-container {
    margin-bottom: 4.5em;
}
.section-align{
    display: flex;
    justify-content: flex-start;
    align-content: center;
   align-items: baseline;

}
.section-align p{
    padding-left: 20px;
    text-shadow: 1px 1px 2px rgb(39, 39, 39);   

}

.section-titulo {
    margin-left: 26px;
    margin-bottom: 1.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 95%;
    font-weight:750;
    text-shadow: 1px 1px 2px rgb(39, 39, 39); 
    
}
.ver-todos{
    color: #09f;
    font-size: 90%;
}
 .ver-todos:hover{
    color: rgb(1, 132, 219);
 }


.filme-principal{
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: end;
    padding: 1.2rem;
    box-shadow: inset 0px -40px 100px 0px rgb(26, 26, 26);
    background-position: center;
}
.filme-principal-atributos {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.filme-principal-titulo {
    color: #eee;
    font-size: 180%;
    font-weight: 600;
}

.filme-principal-categorias {
    color: #eee;
    border: 1px solid #eee;
    padding: 0.3rem;
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
    
}

.swiper {
    width: 100%;
    height: 356px;
}

.swiper-wrapper > a{
    display: block;
    
}
.swiper-slide{
    font-weight: bold;
    width: 17%;
}

.swiper-button-disabled{
    display: none;
}

.swiper-slide a{
    color:hsl(0, 0%, 100%);
}

.transicao {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    width: 100%;
    height: 100%;
    transition: all .5s;
    display: flex;
    align-items: end;
    padding: 1em;
}

.transicao:hover {
    background-size: 125%;
}

.transicao-link {
    color: #eee;
}
.wrapper h1{
    display: flex;
    align-self: flex-start;
     
 }
.wrapper{
    display: grid;
    padding: 1.5rem;
    padding-top: 0.3rem;
    background-color: #333;
    grid-template-columns: 680px 300px 300px  ;
    grid-auto-rows: 220px;
    grid-gap: 15px;
    max-width: 800px;
    justify-content: start;
}
.box:first-child{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box:first-child h1{
    padding: 0px 0px 10px 20px;
    font-size: 115%;
    font-weight: 700;

}

.box:first-child p{
    font-size: 90%;
    padding: 0px 10px 20px 20px ;
}

.box{
    display: grid;
    justify-content: start;
    align-content: flex-end;
    row-gap: 1px;
    background-size: cover;
    background-position: center;
    
}
.box h1{
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 700;
    padding: 0px 0px 0px 10px;
    font-size: 90%; 

}
.box p{
    color: rgba(255, 255, 255, 0.795);
    padding: 5px 0px 10px 10px;
    font-size: 80%;  
}

.section-fanshop{
    background-color: #252525;
}
.fanshop-descricao{
    color: white;
    font-size: 75%;
    padding: 0px 0px 20px 26px;
    
}
.a1{
    padding-top: 20px;
}

.a2{
    padding-top: 50px;
}

.fanshop{
    height: 980px;
    background-size: contain;
    background-repeat: no-repeat;
}

.align-data{
    display: grid;
    grid-template-columns: 2fr; 
    grid-template-rows: 100px; 
    justify-content: flex-start;
    align-content: flex-end;
    grid-gap: 10px;
}
.data{
    display: grid;
    border: 1px solid white;
    font-size: 80%;
    padding: 5px;
    width: 80px;
}

.promo{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 350px;
    grid-gap: 15px;
    max-width: 1800px;   
    padding: 0px 0px 30px 26px;
}
.promo-box{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    align-content: flex-end;
    justify-content: flex-start;
    padding: 0px 0px 0px 20px;
    
}
.promo-box h1{
    color: #09f;
    height: min-content;
    
}
.promo-box h2{
    height: min-content;
    color: white;
    font-size: 85%;
    font-weight: normal;
    padding: 0px 0px 5px 0px;
}
.promo-box p{
    
    color:gray;
    font-size: 60%;
    padding: 10px 0px 10px 0px;

}

.rodape{
    background-color: #252525;
}

.rodape-container{
    width: 60%;
    margin: 0 auto;
}

.rodape-container-frame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1em;
    margin-top: 2em;
}

.rodape-container-titulo {
    color: #eee;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.rodape-container-link {
    color: rgb(0, 153, 255);
    font-size: 0.8em;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.row{
    flex-direction: row;
}

.rodape-loja{
    width: 128px;
    height: 45px;
}

.rodape-container-atendimento {
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    color: rgb(0, 153, 255);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.7em;
}

.google{
    border: 1px solid #999;
    border-radius: 6px;
}

