{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'scripts/mask.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body >
    <header class="cabecalho">
        <a class="cabecalho-link" href="{% url 'index' %}"><img class="cabecalho-link-imagem" src="{% static 'icons/logo.svg' %}" alt=""></a>
    </header>
    <main class="container">
        <section class="entrada">
            <h1 class="entrada-titulo">Cadastre-se</h1>
            <h2 class="entrada-subtitulo">Compre ingressos e combos de pipoca com conforto e comodidade</h2>
        </section>

        <section >
            <p class="campos_obrigatorios">* Campos obrigatórios</p>
            <form class="formulario" action="">
                {% csrf_token %}
                <!-- {{ form }} -->
                <div class="formulario-wrapper">
                    {{form.usuario}}
                </div>
                <div class="formulario-wrapper">
                    {{ form.email }}
                    {{ form.senha }}
                </div>
                <div class="formulario-wrapper">
                    {{ form.mes_aniversario }}
                    {{ form.sexo }}
                    {{ form.cpf }}
                </div>
                <div class="formulario-wrapper">
                    {{ form.telefone }}
                </div>
                <div class="formulario-wrapper">
                    {{ form.cep }}
                </div>
                <div class="formulario-wrapper">
                    {{ form.logradouro }}
                    {{ form.endereco_numero }}
                    {{ form.endereco_complemento }}
                    {{ form.endereco_referencia }}
                </div>
                <div class="formulario-wrapper">
                    {{ form.endereco_bairro }}
                    {{ form.estado }}
                    {{ form.cidade }}
                </div>
                <div class="formulario-wrapper">
                    {{ form.receber_novidades }}
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
        </section>
    </main>
</body>
</html>
