{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/header.html' %}
    <main class="page-container">
        <section class="">
            <h1 class="filmes-titulo">Filmes</h1>
            <div class="filmes-maps">
                <a class="filmes-maps-link maps-active" href="#" id="cartaz">Em Cartaz</a>
                <a class="filmes-maps-link" href="#" id="breve">Em Breve</a>
            </div>
            <div class="filmes-lista gap row" id="lista-cartaz">
                {% for filme in filmes %}
                    <article class="filmes-lista-frame">
                    <a class="filmes-lista-link" href="#">
                        <img class="filmes-lista-imagem" src="{{ filme.imagem_font }}" alt="">
                        <h1 class="filmes-lista-titulo">{{ filme.nome_filme }}</h1>
                    </a>
                    </article>
                {% endfor %}
            </div>
            <div class="filmes-lista gap row filmes-inativo" id="lista-breve">
                {% for filme in filmes_breve %}
                    <article class="filmes-lista-frame">
                    <a class="filmes-lista-link" href="#">
                        <div class="filmes-lista-filme">
                            <img class="filmes-lista-imagem" src="{{ filme.imagem_font }}" onerror="this.onerror=null;this.src='https://ingresso-a.akamaihd.net/catalog/Content/img/placeholder-movie-image-4359a6ad34.jpg';" alt="">

                            <div class="filmes-lista-data">
                                {% if filme.data_lancamento %}
                                    <span>{{filme.data_lancamento}}</span>
                                {% endif %}
                            </div>
                        </div>
                        <h1 class="filmes-lista-titulo">{{ filme.titulo }}</h1>
                    </a>
                    </article>
                {% endfor %}
            </div>
        </section>
    </main>
    {% include 'partials/footer.html' %}
{% endblock %}
