{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/header.html' %}
    <main>
        <section class="section-container filme-principal" style="background-image: url('{{ banner.principal_imagem_font }}')">
            <div class=filme-principal-atributos>

                <h2 class="filme-principal-titulo"> {{ banner.nome_filme }} </h2>
               
                <div>
                    <a class="filme-principal-categorias" href="#">AÇÂO</a>
                    <a class="filme-principal-categorias" href="#">AVENTURA</a>
                </div>
            </div>
        </section>
        <section class="section-container">
            <h2 class="section-titulo">Em alta</h2>
            <div class="swiper em-alta">
                <div class="swiper-wrapper">
                    {% for filme in filmes_alta %}
                        <div class="swiper-slide"><div style="background-image: url('{{ filme.imagem_font }}')" class="transicao"><a  class="transicao-link" href="#">{{ filme.nome_filme }}</a></div></div>
                    {% endfor %} 
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section class="section-container">
            <div class="section-align">
            <h2 class="section-titulo">Em cartaz</h2>
            <a href="{% url 'filmes' %}">
                <p class="ver-todos">ver todos</p>
            </a></div>
            
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for filme in filmes_cartaz %}
                    <div class="swiper-slide">
                        <div style="background-image: url('{{ filme.imagem_font }}')" class="transicao">
                            <a class="transicao-link" href="#">{{ filme.nome_filme }}</a>
                        </div>
                    </div>
                    {% endfor %} 
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section>
            <div class="section-align">
              <h2 class="section-titulo">Notícias em alta</h2>
            <a href="#">
                <p class="ver-todos">ver todos</p>
            </a>  
            </div>
            
            <div class="wrapper">
                {% for noticia in noticias %}
               <a href="#" class="box" style="background-image: url('{{noticia.imagem}}')">
                    <h1>{{noticia.titulo}}</h1>
                    <p>{{noticia.descricao}}</p>
               </a>
               {% endfor %}
            </div>
        </section>
        <section class="section-fanshop">
            <div class="section-align a1">
                <h2 class="section-titulo a1-1">Fanshop</h2>
                <a href="#">
                    <p class="ver-todos">ver todos</p>
                </a>
            </div>
            <div class="fanshop-descricao"><p>Os produtos dos seus personagens favoritos estão aqui!</p></div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for fanshop in fan_shop %}
                        <div class="swiper-slide" style="width: 45%">
                            <div style="background-image: url('{{fanshop.imagem_font}}')" class="fanshop">         
                                <a href="#" ></a>                         
                            </div>
                        </div> 
                        {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section>
            <div class="section-align a2">
                <h2 class="section-titulo">Em breve</h2>
                <a href="{% url 'filmes' %}">
                    <p class="ver-todos">ver todos</p>
                </a>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                        {% for filmes in filmes_breve %}
                        <div class="swiper-slide" >
                            <div style="background-image: url('{{filmes.imagem_font}}')" class="transicao align-data">
                                <a href="#" class="data">{{filmes.data_lancamento}}</a>
                                <a href="#">{{filmes.titulo}}</a>
                                
                            </div>
                        </div> 
                        {% endfor %}
                </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>    
        </section>
    </main>
    <script src ="{% static 'scripts/swiper.js' %}"></script>
    {% include 'partials/footer.html' %}
{% endblock %}
