{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name= "description" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="https://ingresso-a.akamaihd.net/catalog/Content/img/favicon-32x32-0dc0466d1c.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://ingresso-a.akamaihd.net/catalog/Content/img/favicon-96x96-fbd1a601c9.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://ingresso-a.akamaihd.net/catalog/Content/img/favicon-16x16-9d74d6aee7.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/b2bbee7ed8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    
    <title>Ingresso.com - Fãs de cinema</title>
</head>
<body>
    <header class="cabecalho">
        <div class="top">
            <div class="left">
                    <a id="logo" href="index.html">
                        <img src="https://ingresso-a.akamaihd.net/catalog/Content/img/favicon-32x32-0dc0466d1c.png" alt="" class="image">
                        <h1 class="titulo">ingresso.com</h1>
                    </a>
            </div>
            
            <div class="info">
                <div><input type="search" class="info-busca" placeholder="O que deseja buscar?"></div>
                <div class="city"><a class="info-links" href="#"><i class="fas fa-map-marker-alt"></i>Localização</a></div>
                <div class="login"><a class="info-links" href="#"><i class="fas fa-user-plus"></i>Cadastro</a></div>
                <div class="support"><a class="info-links"  href="#"><i class="far fa-question-circle"></i>Atendimento</a></div>
            </div>
    
        </div>

        <div class="bottom">
            <nav>          
             <ul id="menu">
                <li><a class="menu-link" href="#">FILMES</a></li>
                <li><a class="menu-link" href="#">CINEMAS</a></li>
                <li><a class="menu-link" href="#">NOTÍCIAS</a></li>
                <li><a class="menu-link" href="#">PREVENÇÕES</a></li>
                <li><a class="menu-link" href="#">FANSHOP</a></li>
                <li><a class="menu-link" href="#">ROCK IN RIO</a></li>
            </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="section-container filme-principal">
            <div class=filme-principal-atributos>
                <h2 class="filme-principal-titulo">king's Man: A Origem</h2>
                <div>
                    <a class="filme-principal-categorias" href="#">AÇÂO</a>
                    <a class="filme-principal-categorias" href="#">AVENTURA</a>
                </div>
            </div>
        </section>
        <section class="section-container">
            <h2 class="section-titulo">Em alta</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Matrix Ressuretions</div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <section class="section-container">
            <h2 class="section-titulo">Em cartaz</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                    <div class="swiper-slide">Matrix Ressuretions </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h2>Baixe Nosso App</h2>
            <a href="" target="_blank"><img src="" alt=""></a>
            <a href="" target="_blank"><img src="" alt=""></a>
        </div>

        <div>Siga-nos nas redes</div>

        <div>    
            <h2>Precisa de ajuda?</h2>
            <button>Atendimento</button>
        </div>
        <div>
            <h2>Menu</h2>
            <ul>
                <li><a href="">Filmes</a></li>
                <li><a href="">Cinemas</a></li>
                <li><a href="">Eventos</a></li>
            </ul>
        </div>
        <div>
            <h2>Institucional</h2>
            <ul>
                <li><a href="">Quem Somos</a></li>
                <li><a href="">Assessoria de Imprensa</a></li>
                <li><a href="">Bootstrap Ingresso.com</a></li>
                <li><a href="">Vale-Presente Corporativo</a></li>
                <li><a href="">Ingresso.com atende</a></li>
                <li><a href="">movieID.com</a></li>
                <li><a href="">Faça parte do time</a></li>
            </ul>
        </div>
        <div>
            <h2>Políticas</h2>
            <ul>
                <li><a href="">Prevenções</a></li>
                <li><a href="">Privacidade e Seguranç</a>a</li>
                <li><a href="">Política de Cookies</a></li>
                <li><a href="">Meia-entrada</a></li>
                <li><a href="">Trocas e Cancelamentos</a></li>
                <li><a href="">Leis Estaduais e Municipais</a></li>
                <li><a href="">Termos de Us</a>o</li>
            </ul>
        </div>
        <div>
            <h2>Dúvidas</h2>
            <ul>
                <li><a href="">Atendimento</a></li>
                <li><a href="">Site ou e-mails falsos</a></li>
                <li><a href="">Procon-RJ</a></li>
            </ul>
        </div>
    </footer>
    <script src ="{% static 'scripts/swiper.js' %}">
    </script>
</body>
</html>
